<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
         <title> My portfolio website</title>
         <title>{% block title %}{% endblock %}</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
    {% endblock %}
</head>
<body>
    {% block body %}
        <div class="grid">
            <div class="header">
                <a href="/" class="logo">Home</a>
                <div class="header-right">
                    <a href="/about-me">about me</a>
                    <a href="/projects">projects</a>
                    <a href="/university-portolios">university portfolios</a>
                    <a href="/contacts">contact</a>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>